# Folders
.circleci/
.editorconfig
data/
src/
test/
types/

# Files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json

# Development
.eslintcache
.husky/
tsconfig.tsbuildinfo

# project specific
*.map
todo.md
